.product-card {
  display: flex;
  margin: 12px 0;
  flex: 1;
  justify-content: space-around;
  place-items: center;
}
.product-card img {
  border-radius: 10%;
  width: 70px;
  height: auto;
}
.product-buttons {
  display: flex;
  gap: 10px;
}
.product-buttons button {
  border: none;
  padding: 5px 10px;
}
